
/*
  akva grid css
  author: Robert Piirainen
  twitter: @robertpiira
*/

/*
  Akva reset
----------------------------*/

.akva-grid,
.akva-grid * {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/*
  Baseline grid
----------------------------*/

.akva-baseline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.akva-baseline-unit {
  margin-bottom: 1.5em;
  border-bottom: 1px dashed rgba(63, 95, 110, .5);
}

/*
  Grid
----------------------------*/

.akva-grid {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 0 2%;
  z-index: 1;
  overflow: hidden;
  max-width: 1000px;
  border: 1px solid rgba(110, 180, 235,.9);
  border-width: 0 1px;
}

.akva-cols {
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.akva-col {
  -webkit-flex: 1;
  flex: 1;
  border: 1px solid rgba(110, 180, 235,.9);
  border-width: 0 1px;
  margin: 0 2%;
  /* -webkit-flex-grow: 2; */
}
